@font-face {
    font-family: 'Big Noodle Titling';
    src: url('../fonts/bignoodletitling.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat_bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat_medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat_medium_italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic; 
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat_regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat_semibold.woff2') format('woff2');
    font-weight: 600; 
}
