.main {
    position: relative;
    &__img-left {
        position: absolute;
        top: 50%;
        left: 0;
        width: 30%;
        z-index: -1;
        transform: translateY(-50%);
    }
    &__img-right {
        position: absolute;
        top: 80%;
        right: 80px;
        width: 30%;
        z-index: -1;
         transform: translateY(-50%);
    }
    &__block {
        background-image: url('../img/main/bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding: 70px 100px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        max-width: 485px;
        &-title {
            font-family: 'Big Noodle Titling', sans-serif;
            font-weight: 400;
            font-size: 96px;
            color: $whiteColor;
            margin-bottom: 10px;
        }
        &-descr {
            max-width: 360px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $whiteColor;
            margin-bottom: 50px;
        }
        &-services {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 30px;
        }
        &-icon {
            width: 60px;
            height: 60px;
        }
        &-text {
            max-width: 360px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 100%;
            color: $orangeColor;
        }
    }
    &__right {
        max-width: 600px;
        padding: 52px 20px;
        border-radius: 10px;
        border: 2px solid $whiteColor; 
        background-color: rgba(38, 10, 6, .7);
        &-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
            color: $whiteColor;
            max-width: 390px;
            margin-bottom: 26px;
           
        }
    }
    &__form {
        width: 100%;  
        padding: 0 26px;         
        &-label {
            display: block;
            width: 340px;
            margin-bottom: 18px;
        }
        &-input {
            display: block;
            margin-bottom: 18px;
            width: 100%;
            height: 52px;
            border: 1px solid $whiteColor;
            background-color: rgba(0, 0, 0, 0);
            padding: 0 30px;
            border-radius: 26px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: $whiteColor;
            &::placeholder {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: $whiteColor;
            }
        }   
        &-msg {
            display: block;
            margin-bottom: 48px;
            width: 100%;
            height: 184px;
            background-color: rgba(0, 0, 0, 0);
            resize: none;
            border-radius: 15px;
            border: 1px solid #fff;
            padding: 10px 10px 0 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: $whiteColor;
            &::placeholder {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: $whiteColor;
            }
        } 
        &-btn {
            width: 100%;
            font-size: 16px;
            padding: 16px;
            height: 50px;
        }
    }
}